body {
  line-height: 1.6;
  background: #f0f8ff;   
  color: #222; 
}

header {
  background: #b3d9ff;  
  color: #000;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header h1 {
  text-align: center;
  margin-bottom: 0.5rem;
  color: #004080;
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #0066cc; 
}

#tentang img {
  max-width: 600px;
  width : 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 12px; 
}

.card {
  background: #ffffff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
}

.card img {
  max-width: 100%;   
  width: 100%;       
  height: auto;      
  display: block;
  margin: 0 auto;    
}

.card h2 {
  color: #3b82f6; 
  text-shadow: 0 0 8px rgba(59, 130, 246, 0.7);
}

.peserta-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;         
  padding: 0 1rem;     
}

.peserta-card {
  background: #fafafa;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.peserta-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.peserta-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

#peserta h3 {
  margin-bottom: 0.5rem;
  color: #c4b5fd; 
}

.performance-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.performance-item {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#lagu ol {
  padding-left: 1.5rem;
}

#lagu li {
  margin-bottom: 0.5rem;
  color: #222; 
}

.btn-primary {
  background: linear-gradient(90deg, #6a0dad, #3b82f6);
  color: #fff;
  box-shadow: 0 0 10px rgba(155, 89, 182, 0.7),
              0 0 6px rgba(59, 130, 246, 0.6);
}

.btn-primary:hover {
  background: linear-gradient(90deg, #3b82f6, #9b59b6);
  box-shadow: 0 0 20px rgba(155, 89, 182, 1),
              0 0 15px rgba(59, 130, 246, 0.9);
}
